/* colors */
:root {
    --primary-color: #374f2f; 
    --secondary-color: #8A9E72;
    --accent-color: #FFEAC9;
    --hover-color: #007916f5;
    --background-color: #A1B88C;
    --text-color: #374f2f;
    --white: #ffffff;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
}

.dark-mode {
    --primary-color: #2b3a2b;
    --secondary-color: #3f5440;
    --accent-color: #E4C590;
    --hover-color: #d88c3b;
    --background-color: #1c2520;
    --text-color: #EAE7DC;
}